<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-danger">Registeren</p>
      <p class="subtitle has-text-danger">Verzorger</p>
      <form [formGroup]="form" (submit)="register()">
        <mat-form-field style="width:100%">
          <mat-label>Voornaam</mat-label>
          <input type="text" matInput  [formControl]="firstNameFormControl" [(ngModel)]="firstName">
          <mat-error *ngIf="firstNameFormControl.hasError('backend')">
              {{ firstNameError | async }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-label>Achternaam</mat-label>
          <input type="text" matInput [formControl]="lastNameFormControl" [(ngModel)]="lastName">
          <mat-error *ngIf="lastNameFormControl.hasError('backend')">
            {{ lastNameError | async }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Geboortedatum</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" [formControl]="dateOfBirthFormControl">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateOfBirthFormControl.hasError('backend')">
            {{ dateOfBirthError | async }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-label>Woonplaats</mat-label>
          <input type="text" matInput [formControl]="cityFormControl" [(ngModel)]="city">
          <mat-error *ngIf="cityFormControl.hasError('backend')">
            {{ cityError | async}}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <span matPrefix>&nbsp; +31 &nbsp;</span>
          <input type="text" placeholder="Telefoonnummer" matInput [formControl]="phoneNumberFormControl" [(ngModel)]="phoneNumber">
          <mat-error *ngIf="phoneNumberFormControl.hasError('backend')">
            {{ phonenumberError | async }}
          </mat-error>
        </mat-form-field>
          <mat-form-field style="width:100%">
            <mat-label>Opleiding</mat-label>
            <input type="text" matInput [formControl]="courseFormControl" [(ngModel)]="course">
            <mat-slide-toggle color="primary" class="has-text-danger" matSuffix  [(ngModel)]="passed">afgerond? &nbsp;</mat-slide-toggle>
          </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-label>E-Mail</mat-label>
          <input type="text" matInput [formControl]="emailFormControl" [(ngModel)]="email">
          <mat-error *ngIf="emailFormControl.hasError('backend')">
            {{ emailError | async}}
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('email')">
            ongeldige e-mail
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('duplicate')">
            Deze e-mail is al bezet
          </mat-error>
        </mat-form-field>
          <mat-form-field style="width:100%">
            <mat-label>Wachtwoord</mat-label>
            <input type="password" matInput placeholder="Wachtwoord" [formControl]="passwordFormControl" [(ngModel)]="password">
            <mat-error *ngIf="passwordFormControl.hasError('backend')">
              {{ passwordError | async }}
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('PasswordTooShort')">
              Uw wachtwoord moet 6 characters bevatten.
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('PasswordRequiresNonAlphanumeric')">
              Uw wachtwoord heeft een symbool nodig.
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('PasswordRequiresDigit')">
              Uw wachtwoord heeft een cijfer nodig  ('0'-'9').
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('PasswordRequiresUpper')">
              Uw wachtwoord heeft een hoodletter nodig  ('A'-'Z').
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('PasswordRequiresLower')">
              Uw wachtwoord heeft een kleine letter nodig  ('a'-'z').
            </mat-error>
          </mat-form-field>
          <br>
          <br>

        <button mat-raised-button color="primary" style="width: 100%;" class="has-text-primary" *ngIf="!(isFetch | async)" type="submit">registeren</button>
        <div class="spinner spinner-border spinner-border-sm has-text-danger" *ngIf="isFetch | async"></div>
      </form>
    </div>
  </div>
</section>
