<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-danger is-size-1">thuisverzorgers.nl</p>
      <p class="subtitle has-text-danger is-size-3">Zoekt u iemand om u te helpen met Algemene Dagelijkse levensverrichtingen, zoals haren kammen, aankleden en uitkleden, in en uit bed, eten koken enz. Dan kunt u hier zoeken naar een verzorger.</p>
      <nav class="level">
        <div class="level-item">
          <div>
              <p class="heading has-text-danger is-size-6">registeren</p>
              <button mat-raised-button color="primary" class="has-text-primary is-size-4" routerLink="/register-caregiver">verzorger</button>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading has-text-danger is-size-6">login</p>
              <button mat-raised-button color="primary" class="has-text-primary is-size-4" routerLink="/login">login</button>
          </div>
        </div>
        <div class="level-item">
          <div>
              <p class="heading has-text-danger is-size-6">registeren</p>
              <button mat-raised-button color="primary" class="has-text-primary is-size-4" routerLink="/register-careconsumer">verzorging</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
