<section class="hero is-fullheight is-primary is-bold" *ngIf="(isFetch | async) && !(isFetchSuccess | async)">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="spinner spinner-border has-text-danger"></div>
    </div>
  </div>
</section>
<section class="hero is-fullheight is-primary is-bold" *ngIf="(isFetchSuccess | async)">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-danger">Bedankt voor het betalen!</p>
      <p class="subtitle has-text-danger">U wordt zo doorgeleid naar de loginpagina</p>
    </div>
  </div>
</section>
<section class="hero is-fullheight is-primary is-bold" *ngIf="isFetchError | async">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-danger">
        {{ fetchError | async }}
      </p>
    </div>
  </div>
</section>
